<div class="row">
        <div class="col-sm-3 col-md-2">
          	<ul class="nav nav-pills nav-stacked">
  				<li role="presentation" class="active"><a href="#"> Project 1 <span class="label label-default">New</span></a></li>
  				<li role="presentation"><a href="#"> Project 2 </a></li>
  				<li role="presentation"><a href="#"> Project 3 </a></li>
			</ul>
        </div>
        <div class="col-sm-9 col-md-10">
        	<div class="row">
        		<nav class="col-sm-12">
				  <ul class="pagination pagination-lg">
				    <li>
				      <a href="#" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
				    <li class="active"><a href="#">Overview</a></li>
				    <li><a href="#">1</a></li>
				    <li><a href="#">2</a></li>
				    <li><a href="#">3</a></li>
				    <li><a href="#">4</a></li>
				    <li>
				      <a href="#" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>
				</nav>
        	</div>
        	<div class="row container">
        		<div class="jumbotron col-sm-12">
				  <h1>Make a cupboard like this</h1>
				  <p>When it comes to task management, there's no one-size-fits-all. Just as some people learn better visually while others learn far better audibly, there's task management methods that'll fit you perfectly—and others that'll never work for you no matter how hard you try.

					That's why it's important to research different methods of managing your tasks to find what works for you. Just by reading though this article, a couple of the methods will likely stick out to you. You can then try them out and see which one's best for you.

					In this article, you'll receive an overview along with the pros and cons of each of the following task management methods:</p>
				  <p><a class="btn btn-primary btn-lg" href="#" role="button">Upload a revision</a></p>
				</div>
				<div class="col-sm-12 text-center">
					<img src="img/veg.jpg" class="img-responsive" style="margin: 0 auto;">
				</div>
				<div class="col-sm-12">
					<form class="form-horizontal">
						<div class="form-group">
						    <div class="col-sm-12">
						      <input type="text" class="form-control" id="inputEmail3" placeholder="text">
						    </div>
						 </div>
						 <div class="form-group">
						    <div class="col-sm-offset-10 pull-right">
						      <button type="submit" class="btn btn-default">Comment this</button>
						    </div>
						  </div>
					</form>
				</div>	
        	</div>	

        </div>

 </div>
