<div ng-include src="'templates/components/navbar.html'"></div>
<div class="row">

        <div class="col-sm-3 col-md-2" style="z-index: 1000px; font-size: 20px">
          	<ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#"> Project 1 </a></li>
            <li role="presentation"><a href="#"> Project 2 </a></li>
            <li role="presentation"><a href="#"> Project 3 </a></li>
        </ul>

    </div>
    <div class="col-sm-9 col-md-10">
        	<div class="row">
        		<nav class="col-sm-12">
				  <ul class="pagination pagination-lg">
				    <li class="active"><a href="#">Overview</a></li>
				    <li><a href="#">1</a></li>
				    <li><a href="#">2</a></li>
				    <li><a href="#">3</a></li>
				    <li><a href="#">4</a></li>
				  </ul>
				</nav>
        	</div>
        	<div class="row container-fluid">
        		<div class="jumbotron col-sm-12">
				  <h2> Title of wanted revision </h2>
				  <p> Description <br> Description <br> Description <br> Description <br> Description </p>
				</div>
				<div style="height: 500px" class=" jumbotron col-sm-12 text-center" >
			        <div style="background:yellow;" id="yellow" onclick="color(this)"></div>
			        <div style="position:absolute;top:17%;left:46%;width:10px;height:10px;background:orange;" id="orange" onclick="color(this)"></div>
			        <div style="position:absolute;top:17%;left:47%;width:10px;height:10px;background:black;" id="black" onclick="color(this)"></div>
			        <div style="position:absolute;top:20%;left:43%;">Eraser</div>
			        <div style="position:absolute;top:22%;left:45%;width:10px;height:10px;background:white;border:2px solid;" id="white" onclick="color(this)"></div>
			        <canvas id="can" height="400" style="position:absolute;top:10%;left:10%;border:2px solid;"></canvas>
			        <div style="position:absolute;top:12%;left:43%;">Choose Color</div>
			        <div style="position:absolute;top:15%;left:45%;width:10px;height:10px;background:green;" id="green" onclick="color(this)"></div>
			        <div style="position:absolute;top:15%;left:46%;width:10px;height:10px;background:blue;" id="blue" onclick="color(this)"></div>
			        <div style="position:absolute;top:15%;left:47%;width:10px;height:10px;background:red;" id="red" onclick="color(this)"></div>
			        <input type="button" value="save" id="btn" size="30" onclick="save()" style="position:absolute;top:55%;left:10%;">
			        <input type="button" value="clear" id="clr" size="23" onclick="erase()" style="position:absolute;top:55%;left:15%;">
				</div>
				<div class="col-sm-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="jumbotron col-sm-12">
                                    <div class="chat-screen" style="font-size: 20px"></div>
                                    <input class="text-bar" style="font-size: 20px" placeholder="Add comment">
                                    <input type="button" id="theButton" class="send-btn" value="Send">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
        	</div>	
 		</div>
</div>

        
<!-- <script   src="https://code.jquery.com/jquery-2.2.2.min.js"   integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script>
    <script type="text/javascript">
    
    var canvas, ctx, flag = false,
        prevX = 0,
        currX = 0,
        prevY = 0,
        currY = 0,
        dot_flag = false;
    var x = "black",
        y = 2;
    
    function init() {
        canvas = document.getElementById('can');
        ctx = canvas.getContext("2d");
        w = canvas.width;
        h = canvas.height;
		drawImage();
    
        canvas.addEventListener("mousemove", function (e) {
            findxy('move', e)
        }, false);
        canvas.addEventListener("mousedown", function (e) {
            findxy('down', e)
        }, false);
        canvas.addEventListener("mouseup", function (e) {
            findxy('up', e)
        }, false);
        canvas.addEventListener("mouseout", function (e) {
            findxy('out', e)
        }, false);
    }
    
    function color(obj) {
        switch (obj.id) {
            case "green":
                x = "green";
                break;
            case "blue":
                x = "blue";
                break;
            case "red":
                x = "red";
                break;
            case "yellow":
                x = "yellow";
                break;
            case "orange":
                x = "orange";
                break;
            case "black":
                x = "black";
                break;
            case "white":
                x = "white";
                break;
        }
        if (x == "white") y = 14;
        else y = 2;
    
    }
    
    function draw() {
        ctx.beginPath();
        ctx.moveTo(prevX, prevY);
        ctx.lineTo(currX, currY);
        ctx.strokeStyle = x;
        ctx.lineWidth = y;
        ctx.stroke();
        ctx.closePath();
    }
    
    function erase() {
        var m = confirm("Want to clear");
        if (m) {
            ctx.clearRect(0, 0, w, h);
            drawImage();
        }
    }
    
    function save() {
        var dataURL = canvas.toDataURL();
        //example new project
        // $.ajax({
        //     type: "POST",
        //     url: "http://localhost:3000/api/project",
        //     data: {
        //         "projectName" : "projectName",
        //         "uName" : "uName",
        //         "imgString" : dataURL.substring(22,dataURL.length)
        //     },
        //     dataType: "JSON"
        // });
        //example new annotation
        $.ajax({
            type: "POST",
            url: "http://localhost:3000/api/annotation",
            data: {
                "projectID" : "57000fdefe059f0c16df3120",
                "uName" : "uName",
                "imgString" : dataURL.substring(22,dataURL.length)
            },
            dataType: "JSON"
        });
    }
    
    function findxy(res, e) {
        var bodyRect = document.body.getBoundingClientRect(),
        elem = document.getElementById("can").getBoundingClientRect(),
        offsetY   = elem.top - bodyRect.top;
        offsetX   = elem.left - bodyRect.left;
        if (res == 'down') {
            prevX = currX;
            prevY = currY;
            currX = e.clientX - offsetX; //- canvas.offsetLeft;
            currY = e.clientY - offsetY + document.body.scrollTop; //- canvas.offsetTop;
    
            flag = true;
            dot_flag = true;
            if (dot_flag) {
                ctx.beginPath();
                ctx.fillStyle = x;
                ctx.fillRect(currX, currY, 2, 2);
                ctx.closePath();
                dot_flag = false;
            }
        }
        if (res == 'up' || res == "out") {
            flag = false;
        }
        if (res == 'move') {
            if (flag) {
                prevX = currX;
                prevY = currY;
                currX = e.clientX - offsetX;
                currY = e.clientY - offsetY + document.body.scrollTop;
                draw();
            }
        }
    }
    function drawImage(){
    	var image = new Image();
		image.onload = function() {
    		ctx.drawImage(image, 0, 0);
		};
        //get image to draw
        var projectID = "57000fdefe059f0c16df3120";
        var annIndex = 2;
        $.ajax({
            type: "GET",
            url: "http://localhost:3000/api/annotation?projectID=" + projectID + "&annIndex=" + annIndex,
        }).done(function(d){
            var base64 = d.img; // get base 64 string from db
            image.src = "data:image/  png;base64," + base64;
        });
    }

    init();

    </script> -->
<script type="text/javascript">
    $(document).load(function(){
        if (true) {}
    })
    $(".nav.nav-pills li").on("click",function(){
      $(".nav.nav-pills li").removeClass("active");
      $(this).addClass("active");
    });
    $(".pagination li").on("click",function(){
      $(".pagination li").removeClass("active");
      $(this).addClass("active");
    });
    $('.send-btn').click(function () {
    $(".chat-screen").append($(".text-bar").val());
    $(".chat-screen").append("<br>");
    $(".text-bar").val("");
});
</script>


