<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><strong> Store 1 </strong></a>
        </div>
        <div class="navbar-collapse">
          <ul class="nav navbar-nav navbar-left lg-offset-3">
          <i class="fa fa-plus-circle fa-1x" style="color:white; margin-top: 20px"> Comment </i>
          <i class="fa fa fa-upload fa-1x" style="color:white; margin-top: 20px"> Upload </i>
          <i class="fa fa fa-check-square fa-1x" style="color:white; margin-top: 20px"> Approve </i>
          </ul>
        </div> 
      </div>
</nav>