<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div ></div>
          <a class="navbar-brand" href="#menu-toggle" id="menu-toggle" style="font-size: 30px"><strong> Store 1 </strong></a>
        </div>
        <div class="navbar-collapse">
          <ul class="navbar-nav navbar-right nav">
          <li><a href="#"><i class="fa fa-plus-square-o fa-2x"></i> Add Project</a></li>
            <li><a href="#"> <i class="fa fa-upload fa-2x"></i> Revision </a></li> 
            <li><a href="#"><i class="fa fa-check fa-2x"></i> Approve </a></li> 
            <li><a href="#"><i class="fa fa-sign-out fa-2x"></i> Log Out </a></li>
          </ul>
        </div> 
      </div>
</nav>